<!-- howitworks.html
by: Joy Lucas
5/11/2017
-->


<div class="container">   
    <div class="row">
        <div class="col-xs-12">
           <ul class="breadcrumb">
               <li><a href="#!/main">Home</a></li>
               <li class="active">How it works</li>
           </ul>
        </div>
     </div>

    <div class="row-header">
        <h1 class="h1"> How to Buy</h1>
    </div>

    <div class="row-content">
     <div class=" col-xs-3">
            <div class="thumbnail-no-border">
                <img src="images/login.png" alt="login" height=400 width=400 class="img-responsive">
                <div class="row">
                <div class="caption">
                    <h2>Become a member</h2>
                    <p>Fill out a form to register  or Login if already a member</p>
                </div>
            </div>
         </div>
      </div>

      <div class=" col-xs-3">
            <div class="thumbnail-no-border">
                <img src="images/browse.png" alt="browseimages" class="img-responsive" height=400 width=400>
                <div class="caption">
                    <h2>Browse</h2>
                    <p>Browse on the lists of items available</p>
                </div>    
            </div>
        </div>
          
        <div class=" col-xs-3">
            <div class="thumbnail-no-border">
                <img src="images/details.png" alt="seedetails" class="img-responsive" height=400 width=400>
                <div class="caption">
                    <h2>Choose an item</h2>
                    <p>Click on an item that interests you and get in touch with the seller through messaging system to talk about more details and arrange pick up. </p>
                </div>
            </div>
        </div>
        
        <div class=" col-xs-3">
            <div class="thumbnail-no-border">
                <img src="images/sendmessage.png" alt="sendmessage" class="img-responsive" height=400 width=400>
                <div class="caption">
                    <h2>Send seller a message</h2>
                    <p>Communicate with the seller without giving away personal information </p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    
<!---------------------------------------------------------------------------------->
    
    <div class="row">
        <div class="row-header">
            <h1 class="h1"> How to Sell</h1>
        </div>
    </div>
    <div class="row-content">
        <div class=" col-xs-3">
            <div class="thumbnail-no-border">
                <img src="images/login.png" alt="login" class="img-responsive" height=400 width=400>
                <div class="caption">
                    <h2>Become a member</h2>
                    <p>Fill out a form to register  or Login if already a member</p>
                </div>
                </div>
            </div>

        <div class=" col-xs-3">
            <div class="thumbnail-no-border">
                <img src="images/post.png" alt="postpicture" class="img-responsive" height=400 width=400> 
                <div class="caption">
                    <h2>Click SELL button</h2>
                    <p>Follow along the instructions to upload photos of the food item and check your listings under your account. </p>
                </div>
            </div>
        </div>
          
        <div class=" col-xs-3">
            <div class="thumbnail-no-border">
                <img src="images/chat.png" alt="chat" class="img-responsive" height=400 width=400>
                <div class="caption">
                    <h2>Chat with the seller/buyer</h2>
                    <p>Communicate for more details and arrange pick up.</p>
                </div>
            </div>
        </div>
    </div>
</div>