<!--footer.html
by: Joy Lucas
5/12/2017
-->

<!--    
<footer class="row-footer-top">
    <div class="cols-xs-6 offset-2">
            <img src="images/joy.jpg" class="img-circle" alt="imageofjoy"
                height=60 width=60 class="img-responsive">
    </div>   
    <div class="cols-xs-12">
        <div class="row">
            <p> With the love of cooking and the Technology, it has been a pleasure of a lifetime to finally able to combine them together to showcase of what I am best at! </p>}
        </div>
    </div>
</footer>
-->
<footer class="footer">
    <div class="container-fluid">
        <div class="col-xs-6 col-sm-5">           
               <h4 align=left>Our Address<br>      
                Round Rock<br>
                Texas, USA<br></h4> 
        </div>
    
        <div class="social">
            <div class="col-xs-12 pull-right"> 
                <a href="http://www.facebook.com/profile.php?id=" 
                   class="hi-icon hi-icon-facebook">
                    <img src="images/facebook.png" height=45 width=45> </a>

                  <a href="http://www.linkedin.com/in/"
                     class="hi-icon hi-icon-linkedin">
                     <img src="images/linkedin.png" height=45 width=45> </a>

                <a href="http://www.twitter.com/in/"
                     class="hi-icon hi-icon-twitter">
                     <img src="images/twitter.png" height=45 width=45> </a>

                <a href="http://www.linkedin.com/in/"
                     class="hi-icon hi-icon-googleplus">
                    <img src="images/googleplus.png" height=45 width=45> </a> 
             </div>
        </div>     

         <div class="col-xs-12">
            <p style="padding:10px;"></p>
            <h3 align=left>© Copyright 2017 Lutong Bahay</h3>
        </div>
    </div>
</footer>
