<!--itemdetail.html
by: Joy Lucas
5/11/2017
-->

<div class="container">
        <div class="col-xs-12">
           <ul class="breadcrumb">
               <li><a href="#!/main">Home</a></li>
               <li class="active">Item Details</li>
           </ul>
        </div>
        <div class="col-xs-12">
           <h1>Item Details</h1>
           <hr>
        </div>
        <div class="row">
             <div class="col-xs-4">
                <div class="thumbnail">
                    <img src="images/rawgreenbeans.jpg" alt="rawgreenbeans" class="img-responsive" height=300 width=300>
                    <hr>
                    <p><caption>Organic Asian green beans from my garden. I have too much, so I decided to sell</caption></p>
                </div>
             </div>  
             <div class="col-sm-6">
                <label class="radio-inline">
                    <input type="radio" name="no" value="no" checked> Pick up only
                </label>
             </div> 
             <div class="col-sm-5">
                <label for="location" name="location" class="col-sm-2 control-label">Location</label>
                <div class="col-xs-2">
                    <input type="text" placeholder="78681" disabled>
                </div>
             </div>
        </div>
        <div class="row">
             <div class="media">
                <div class="media-left media-middle">
                    <a><img class="media-object img-circle"
                    src="images/joy.jpg" alt="theseller" height=40 width="40"></a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">Joy Lucas <br>   
                    <small>Seller Rating:</small></h3>
                </div>
             </div> 
             <div class="col-sm-6">
                <button class="btn btn-warning btn-lg" #button 
                        type="button"><a href="#!/contact">CONTACT SELLER</a>
                </button> 
            </div>
        </div>
        <hr>
        <div class="col-sm-10">
           <h4>Customer Comments &nbsp;&nbsp;&nbsp;
               <small>Sort by: &nbsp; 
                    <input type="text" ng-model="orderText"></small></h4>
            <ul class="list-unstyled">
                <li ng-repeat="comment in item.comments | orderBy:orderText">
                  <blockquote>
                     <p>{{comment.rating}} Stars</p>
                     <p>{{comment.comment}}</p>
                     <footer>{{comment.postedBy.firstname}} {{comment.postedBy.lastname}}, {{comment.updatedAt | date:'MMM. dd, yyyy'}}</footer>
                  </blockquote>
                </li>
            </ul>
        <div class="col-xs-9 col">
            <ul class="list-unstyled" ng-show="commentForm.$valid && !commentForm.$pristine">
                <li>
                  <blockquote>
                     <p>{{mycomment.rating}} Stars</p>
                     <p>{{mycomment.comment}}</p>
                  </blockquote>
                </li>
            </ul>
        </div>   
    </div>
<!-----------------Comment Form for every item begins here----------------->     
    <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
        <div class="row row-content">
            <div class="col-sm-10">
                    <div class="form-group"> 
                       <label for="numpeople" class="col-sm-2 control-label">
                        Number of Stars</label>
                        <div class="col-sm-10">
                            <label class="radio-inline">
                            <input type="radio" name="rating" ng-model="mycomment.rating"
                             id="rating1" value=1> 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="rating" ng-model="mycomment.rating"
                                 id="rating2" value=2> 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="rating" ng-model="mycomment.rating"
                                 id="rating3" value=3> 3
                            </label>
                             <label class="radio-inline">
                                <input type="radio" name="rating" ng-model="mycomment.rating"
                                 id="rating4" value=4> 4
                            </label>
                             <label class="radio-inline">
                                <input type="radio" name="rating" ng-model="mycomment.rating"
                                 id="rating5" value=5 checked > 5
                            </label>
                        </div>
                    </div>    
                    <div class="form-group"  ng-class="{ 'has-error' : commentForm.comments.$error.required && !commentForm.comments.$pristine }">
                        <label for="comments" class="col-sm-2 control-label">Your Comments</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="8" name="comments"
                                ng-model="mycomment.comment" required>
                            </textarea>
                         <span ng-show="commentForm.comments.$error.required && !commentForm.comments.$pristine" class="help-block">Your comments are required.</span>
                       </div>
                    </div> 
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-warning btn-lg" ng-disabled="commentForm.$invalid">Submit Comment</button>
                        </div>
                    </div>
            </div>
        </div>
    </form>  
</div>


